<div ng-controller="OrdersIndexCtrl">
  <div id="orders-container">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#active" aria-controls="active" role="tab" data-toggle="tab">Active orders</a>
      </li>
      <li role="presentation">
        <a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="active">
        <ul id="active-orders-list">
          <li class="order-list" ng-repeat="order in activeOrders">
            <a ui-sref="orders.show({id: order.id})" ng-click="setCurrentOrder(order)">{{ order.name }}</a>
          </li>
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="history">
        <ul id="delivered-orders-list">
          <li class="order-list" ng-repeat="order in deliveredOrders">
            <a ui-sref="orders.show({id: order.id})">{{ order.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
