<ul>
  <li>Name: {{ order.name }}</li>
  <li>Status: {{ order.status }}</li>
  <li>Creation date: {{ order.created_at }}</li>
  <li>Order meals: {{ order.meals }}</li>
</ul>
{{ order }}

<form ng-submit="updateOrder()">
  <select name="status" ng-model="newStatus">
    <option value="New">New</option>
    <option value="Finalized">Finalized</option>
    <option value="Ordered">Ordered</option>
    <option value="Delivered">Delivered</option>
  </select>
  <input type="submit" value="Save">
</form>
