<section id="two" class="wrapper style2 alt order-show">
  <div class="inner">
    <h3 class="order-show-title">{{ order.name }}</h3>
    <table class="table meal-table">
      <thead>
        <tr>
          <th>Status:</th>
          <th>Created at:</th>
          <th>Payer:</th>
          <th>Payer's bank account:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ order.status }}</td>
          <td>{{ order.created_at }}</td>
          <td>{{ order.payer.name }}</td>
          <td>{{ order.bank_account }}</td>
        </tr>
      </tbody>
    </table>
    <div class="row uniform">
      <div class="col-xs-12 col-lg-6 align-left">
        <input id="order-bankaccount" type="text" name="bankAccount" placeholder="Put your bank account number here" ng-hide="order.status!='Finalized'"/>
      </div>
      <div class="col-xs-12 col-lg-6 align-right">
        <button class="button alt btn-close" id="back-btn" ui-sref="root">Close</button>
        <button class="button special btn-special" ng-click="updateOrder('Finalized')" ng-hide="order.status!='New'">Finalize order</button>
        <button class="button special btn-special" ng-click="updateOrder('Ordered')" ng-hide="order.status!='Finalized'">Mark as ordered</button>
        <button class="button special btn-special" ng-click="updateOrder('Delivered')" ng-hide="order.status!='Ordered'">Mark as delivered</button>
        <button class="button special btn-special" ng-hide="order.status!='Delivered'" disabled="disabled">Delivered</button>
      </div>
    </div>

    <table class="table meal-table">
      <thead>
        <tr>
          <th>Meal Name:</th>
          <th>Price:</th>
          <th>Added by:</th>
        </tr>
      </thead>
      <tbody id="order-meals">
        <tr ng-repeat="meal in order.meals">
          <td>{{ meal.name }}</td>
          <td>{{ meal.price }}</td>
          <td>{{ meal.username }}</td>
        </tr>
      </tbody>
    </table>

    <form class="alt" ng-submit="addMeal()" ng-hide="order.status!='New'">
      <div class="row uniform">
        <div>
          <input id="newmeal-name" type="text" name="name" ng-model="newMeal.name" placeholder="Name"/>
        </div>
        <div>
          <input id="newmeal-price" type="text" name="price" ng-model="newMeal.price" placeholder="Price"/>
        </div>
        <div>
          <input class="alt btn-special" type="submit" value="Add your meal">
        </div>
      </div>
    </form>
    <div id="footer"></div>
  </div>
</section>
