<header class="header">
  <div class="header-titles">
    <div class="header-titles-main">Hungry?</div>
    <div class="header-titles-secondary">It's meal time!</div>
    <div class="header-titles-buttons">
      <div ng-if="!$root.githubLoggedIn">
        <div ng-include='"shared/facebook_login.html"'></div>
      </div>
      <div ng-if="!$root.facebookLoggedIn">
        <div ng-include='"shared/github_login.html"'></div>
      </div>
    </div>
  </div>
</header>

<div ng-include='"orders/list.html"' ></div>
<div ui-view></div>

<footer>
  <div class="container">
    <span class="align-middle">Przemysław Piotrowski &copy; 2018</span>
  </div>
</footer>
