body {
  font-size: 17px
}

.navbar-btn {
  margin: 0 5px 0 5px
}

.navbar-brand {
  font-size: 25px
}

#orders-container {
  font-size: 16px;

  .tab-content {
    height: 200px;
    overflow-y: scroll;
  }
}

#add-order-btn {
  width: 140px;
  font-size: 17px;
}

#order-name-field {
  width: 200px;
  font-size: 18px;
}

#new-order-title {
  padding: 20px 0 0px 0;
}

#back-btn {
  width: 100px;
  margin: 0 0 15px 10px;
  font-size: 17px;
}

.status-button {
  margin: 0 0 10px 10px;
  font-size: 17px;
}

h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 17px/1.5 Helvetica, Verdana, sans-serif;
}

li.order-list {
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #000;
  display: block;
}

li.order-list a {
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li.order-list a:hover {
  font-size: 20px;
  background: #f6f6f6;
  text-decoration: none;
  color: #000;
  display: block;
}
