body {
  font-size: 17px
}

.navbar-btn {
  margin: 0 5px 0 5px
}

.navbar-brand {
  font-size: 25px
}

#orders-container {
  font-size: 16px;

  .tab-content {
    height: 200px;
    overflow-y: scroll;
  }
}

#add-order-btn {
  width: 140px;
  font-size: 17px;
}

#order-name-field {
  width: 200px;
  font-size: 18px;
}

#new-order-title {
  padding: 20px 0 0px 0;
}

#back-btn {
  width: 100px;
  margin: 0 0 15px 10px;
  font-size: 17px;
}

.status-button {
  margin: 0 0 10px 10px;
  font-size: 17px;
}
