/* Mixins */

@mixin button-colors($border, $backgr1, $backgr2, $text1, $text2) {
  border-radius: 0px;
  border: solid 2px $border;
  color: $text1 !important;
  background-color: $backgr1 !important;
  &:hover {
    color: $text2 !important;
    background-color: $backgr2 !important;
  }
}


/* Basic */
@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
  //background-image: image-url("background-image1-1.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
}

/* Type */

body {
  color: #777;
}

body, input, select, textarea {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: normal;
  line-height: 2;
}

@media screen and (max-width: 1680px) {
  body, input, select, textarea {
    font-size: 13.5pt;
  }
}

@media screen and (max-width: 1366px) {
  body, input, select, textarea {
    font-size: 12.5pt;
  }
}

@media screen and (max-width: 980px) {
  body, input, select, textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 736px) {
  body, input, select, textarea {
    font-size: 11.5pt;
  }
}

@media screen and (max-width: 480px) {
  body, input, select, textarea {
    font-size: 11.5pt;
  }
}

.container-fluid {
  padding: 0px;
}

a {
  -moz-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
  text-decoration: underline;
}

a:hover {
  color: #00BC8A !important;
  text-decoration: none;
}

strong, b {
  font-weight: bold;
}

p {
  margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 1em 0;
  color: #666;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.35em;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

input, select, textarea {
  color: #666;
}

a {
  color: #00BC8A;
}

strong, b {
  color: #666;
}

/* Navbar */
.logo {
  margin-top: 23px;
  background-image: image-url("logo.png");
  background-repeat: no-repeat;
  width: 258px;
  height: 31px;
}


/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 2em;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  height: 3.5em;
  letter-spacing: 0.1em;
  line-height: 3.65em;
  padding: 0 3em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  opacity: 0.25;
}

@media screen and (max-width: 480px) {
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button,
  .button {
    padding: 0;
  }
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  background-color: #fafafa;
  color: #666;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  background-color: white;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
  //background-color: #ededed;
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
button.alt,
.button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
  color: #666;

  &.facebook-btn {
    background-color: #0F5EBC;
    color: #EEE;

    &:hover {
      background-color: #5a9ef2;
    }
  }

  &.github-btn {
    background-color: #777;
    color: #EEE;

    &:hover {
      background-color: #a6a6a6;
    }
  }
}

input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
input[type="button"].alt:hover,
button.alt:hover,
.button.alt:hover {
  background-color: rgba(144, 144, 144, 0.5);
}

input[type="submit"].alt:active,
input[type="reset"].alt:active,
input[type="button"].alt:active,
button.alt:active,
.button.alt:active {
  //background-color: rgba(144, 144, 144, 0.2);
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
  background-color: #00BC8A;
  color: #ffffff !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
  background-color: #00d69d;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
  //background-color: #00a377;
}

/* Form */

form {
  margin: 0 0 2em 0;
}

label {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0;
  border: none;
  border: solid 1px;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 2.75em;
}

textarea {
  padding: 0.75em 1em;
}

::-webkit-input-placeholder {
  opacity: 1.0;
  color: #bbb !important;
}

:-moz-placeholder {
  opacity: 1.0;
  color: #bbb !important;
}

::-moz-placeholder {
  opacity: 1.0;
  color: #bbb !important;
}

:-ms-input-placeholder {
  opacity: 1.0;
  color: #bbb !important;
}

label {
  color: #666;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  background: rgba(144, 144, 144, 0.075);
  border-color: rgba(144, 144, 144, 0.25);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
  border-color: #00BC8A;
  box-shadow: 0 0 0 1px #00BC8A;
}

/* List */

ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
}

ol li {
  padding-left: 0.25em;
}

ul {
  list-style: disc;
  margin: 1em 0 1em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

ul.special {
  text-align: center;
}

ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 1px;
  padding: 0.5em 0;
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

ul.checklist {
  list-style: none;
  padding-left: 0;
}

ul.checklist li {
  text-decoration: none;
  margin-bottom: 1.5em;
  padding-left: 0;
}

ul.checklist li:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

ul.checklist li:before {
  content: '\f00c';
  margin-right: 0.75em;
}

ul.contact {
  padding: 0;
}

ul.contact li {
  text-decoration: none;
  padding: 0.65em 0 0 2em;
}

ul.contact li:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

ul.contact li:before {
  float: left;
  margin-left: -2em;
}

ul.contact li:first-child {
  padding-top: 0;
}

ul.contact li a {
  color: inherit;
  text-decoration: none;
}

ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

form ul.actions {
  margin-top: 2em;
}

ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}

ul.actions li:last-child {
  padding-right: 0;
}

ul.actions.small li {
  padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
  display: block;
  padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
  padding-top: 0;
}

ul.actions.vertical li > * {
  margin-bottom: 0;
}

ul.actions.vertical.small li {
  padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
  padding-top: 0;
}

ul.actions.fit {
  display: table;
  margin-left: -1em;
  padding: 0;
  table-layout: fixed;
  width: calc(100% + 1em);
}

ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1em;
}

ul.actions.fit li > * {
  margin-bottom: 0;
}

ul.actions.fit.small {
  margin-left: -0.5em;
  width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
  padding: 0 0 0 0.5em;
}

@media screen and (max-width: 480px) {
  ul.actions {
    margin: 0 0 2em 0;
  }

  ul.actions li {
    padding: 1em 0 0 0;
    display: block;
    text-align: center;
    width: 100%;
  }

  ul.actions li:first-child {
    padding-top: 0;
  }

  ul.actions li > * {
    width: 100%;
    margin: 0 !important;
  }

  ul.actions li > *.icon:before {
    margin-left: -2em;
  }

  ul.actions.small li {
    padding: 0.5em 0 0 0;
  }

  ul.actions.small li:first-child {
    padding-top: 0;
  }
}

/* Section/Article */

section.special, article.special {
  text-align: center;
}

header p {
  position: relative;
  margin: 0 0 1.5em 0;
}

header h2 + p {
  font-size: 1.25em;
  margin-top: -1em;
}

header h3 + p {
  font-size: 1.1em;
  margin-top: -0.8em;
}

header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 0.9em;
  margin-top: -0.6em;
}

header p {
  color: #bbb;
}

.header {
  height: 800px;
  background-image: image-url("background-main.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 150px;
  &-titles {
    text-align: center;
    height: 500px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    &-main {
      font-family: 'Berkshire Swash', cursive;
      font-family: 'PeachesAndCreamRegular';
      font-size: 240px;
      line-height: 220px;
    }
    &-secondary {
      font-family: 'LuloCleanOneBold';
      font-size: 56px;
      letter-spacing: 4px;
    }
    &-buttons {
      padding-top: 30px;
      .ng-scope {
        display: inline;
        padding-right: 5px;
        padding-left: 5px;
      }
      .header-btn {
        font-family: 'Georgia';
        font-style: italic;
        font-size: 16px;
        font-weight: normal;
        text-transform: none;
        box-shadow: none;
        height: 60px;
        @include button-colors(white, transparent, white, white, $violet);
      }
    }
  }
}

/* Orders containers */
.orders {
  &-title {
    text-align: center;
    color: $green;
    font-family: 'PeachesAndCreamRegular';
    font-size: 90px;
    line-height: 120px;
    margin-top: -60px;
  }
  /* Left orders container */
  &-new {
    text-align: center;
    &-image {
      width: 100%;
      box-shadow: 5px 10px 18px #888888;
    }
    &-title {
      color: black;
      padding-top: 60px;
      font-family: 'LuloCleanOneBold';
    }
    input {
      width: 320px;
    }
    .order-btn {
      box-shadow: none;
      width: 200px;
      margin-left: 90px;
      margin-top: 34px;
      padding: 0px;
      @include button-colors($violet, $violet, white, white, $violet);
    }
  }
  /* Right orders container */
  .orders-list {
    .nav-tabs {
      border-bottom: none;
      margin-top: 0px;
      text-align: center;
      li:first-of-type {
        padding-right: 16px;
      }
      a {
        border: none;
        border-top: 3px solid $violet;
        border-bottom: 3px solid $violet;
        border-radius: 0px;
        min-width: 257px;
        min-height: 60px;
        font-family: 'LuloCleanOneBold';
        font-size: 14px;
        text-decoration: none;
        color: $violet;
        padding-top: 20px;
        &:hover {
          background-color: $violet;
          color: white !important;
        }
      }
      .active a {
        padding-top: 23px;
        background-color: $violet;
        color: white;
        border: none;
      }
    }
    .tab-content {
      &-items {
        &-item{
          list-style-type: none;
          margin-left: 10px;
          background-color: $gray;
          padding: 15px;
          margin-bottom: 20px;
          &-img {
            height: 65px;
            border: solid 2px black;
            border-radius: 50%;
            padding: 8px;
            &:hover {
              border: solid 2px $gray-dark;
              opacity: 0.7;
              filter: alpha(opacity=70);
            }
          }
          &-descr {
            a {
              color: black;
              text-transform: uppercase;
              font-size: 24px;
              &:hover {
                color: $violet !important;
              }
            }
            &-secondary {
              display: block;
              line-height: -200px;
              color: $violet-light;
              margin-top: -15px;
              font-family: Georgia;
            }
          }
        }
      }
    }
  }
}

.order-show {
  background-color: $gray-medium;
  &-title {
    font-family: 'LuloCleanOneBold';
    font-size: 29px;
    color: $violet;
  }
  .btn-close {
    @include button-colors($violet, white, $violet, $violet, white);
  }
  .btn-special {
    @include button-colors($violet, $violet, white, white, $violet);
  }
}

/* Footer */

footer {
  background-color: $green;
  color: white;
  font-family: Georgia;
  font-size: 18px;
  text-align: center;
  min-height: 60px;
  padding-top: 10px;

}

/* Table */

.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

.meal-table {
  margin-top: 40px;
  font-family: Georgia;
  background-color: $gray;
  li:hover {
    background-color: white;
  }
}

table {
  margin: 0 0 2em 0;
  width: 100%;
}

table tbody tr {
  border: solid 1px;
  border-left: 0;
  border-right: 0;
}

table td {
  padding: 0.75em 0.75em;
}

table th {
  font-size: 0.9em;
  font-weight: bold;
  padding: 0 0.75em 0.75em 0.75em;
  text-align: left;
}

table thead {
  border-bottom: solid 2px;
}

table tfoot {
  border-top: solid 2px;
}

table.alt {
  border-collapse: separate;
}

table.alt tbody tr td {
  border: solid 1px;
  border-left-width: 0;
  border-top-width: 0;
}

table.alt tbody tr td:first-child {
  border-left-width: 1px;
}

table.alt tbody tr:first-child td {
  border-top-width: 1px;
}

table.alt thead {
  border-bottom: 0;
}

table.alt tfoot {
  border-top: 0;
}

table tbody tr {
  border-color: rgba(144, 144, 144, 0.25);
}

table tbody tr:nth-child(2n + 1) {
  background-color: rgba(144, 144, 144, 0.075);
}

table th {
  color: #666;
}

table thead {
  border-bottom-color: rgba(144, 144, 144, 0.25);
}

table tfoot {
  border-top-color: rgba(144, 144, 144, 0.25);
}

table.alt tbody tr td {
  border-color: rgba(144, 144, 144, 0.25);
}

/* Split */

.split {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 2em;
}

.split > * {
  width: 50%;
}

.split > *:nth-child(odd) {
  padding-right: 3em;
}

.split > *:nth-child(even) {
  padding-left: 3em;
  border-left: solid 2px;
}

.split > * > :last-child,
.split > * > :last-child > :last-child,
.split > * > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 980px) {

  .split > :nth-child(odd) {
    padding-right: 2em;
  }

  .split > :nth-child(even) {
    padding-left: 2em;
  }

}

@media screen and (max-width: 736px) {

  .split {
    padding-bottom: 0;
  }

  .split > * {
    width: 100%;
    margin-bottom: 2em;
  }

  .split > *:nth-child(odd) {
    padding-right: 0;
  }

  .split > *:nth-child(even) {
    border-left: none;
    padding-left: 0;
  }
}

.split > :nth-child(even) {
  border-left: solid 3px $violet;
}
