/* Fonts */

@font-face {
  font-family: 'PeachesAndCreamRegular';
  src:font-url('PeachesAndCreamRegular.otf');
}

@font-face {
  font-family: 'LuloCleanOneBold';
  src:font-url('LuloCleanOneBold.otf');
}

@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

/* Colors */

$violet: #630B6C;
$green: #008558;
